# only change these if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:27037"
endpoint_add_udp "0.0.0.0:27037"

set es_enableCustomData 1
set mysql_connection_string "server=54.39.215.18;database=fivemdev;userid=trillionservers;password=griffin!!7378#;"

start mapmanager
start Loadscreen
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
start playernames
start cron
start skinchanger
start instance
start mysql-async
start essentialmode
start esplugin_mysql
start esx_phone
start esx_menu_default
start esx_menu_dialog
start esx_menu_list
start es_admin2
start esx_atm
start esx_joblisting
start esx_license
start esx_addonaccount
start es_extended
start esx_panel_controller
start esx_policejob
start esx_skin
start esx_service
start esx_datastore
start esx_society
start esx_addoninventory
start esx_billing
start esx_vehicleshop
start esx_policejob
start esx_identity
start esx_ambulancejob
start esx_drugs
start esx_taxijob
start esx_bankerjob
start esx_weaponshop
start esx_lscustom
start esx_jobs
start esx_property
start esx_shops
start esx_cruisecontrol
start esx_holdup
start esx_realestateagentjob
start esx_mechanicjob
start staff
start tab
start esx_tpmenu
start lastpostodb
start CarCommand
start esx_licenseshop
start esx_blackmoney
start SimpleCarHUD
start esx_jobnumbers
start esx_jewelrobbery
start pNotify
start progressBars
start Lenzh_chopshop
start esx_truckerjob
start esx_dnaDoorManager
start esx_aircraftshop
start LegacyFuel
start esx_clotheshop
start esx_advancedgarage
start new_banking
# Vehicles

# allow client mods such as Lamda Menu?
sv_scriptHookAllowed 1

# change this
rcon_password "trillionservers"

# a comma-separated list of tags for your server
# for example: sets tags "drifting, cars, racing" or sets tags "roleplay, military, tanks"
sets tags "default"

sv_hostname "[U.S]Trillion Servers|Dev Server|"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars for use from script
set temp_convar "hey world!"

# Uncomment to DISABLE your server coming up in the server list
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam (don't forget, Social Club is a third party provider too!)?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000112345678 group.admin # add the admin to the group

# remove the # to hide player endpoints in external log output
#sv_endpointprivacy true

# server slots limit (must be between 1 and 32)
sv_maxclients 32

set steam_webApiKey "AB6E8E3000FB8218BD592DB0985A5AA0"

sv_licenseKey ss6aphyjilynm1ilurkssjyu3kh92ca1
